@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Louisville, KY  40204<br />
    
    P:  <a href="tel:5024756897">(502) 475-6897</a><br />
    F:  <a href="fax:5029968246">(502) 996-8246</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Fouts.John@gmail.com">Contact Me</a><br />
    <strong>Marketing:</strong> <a href="mailto:IcreateUpwardSpiral@gmail.com">IcreateUpwardSpirals@gmail.com</a>
</address>