<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">


<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>


<style>
    /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
    #map {
        height: 420px;
        width: 100%;
        padding-top: 10px;
        border: 10px solid indigo;
        border-radius: 4px;
    }

    #out {
        height: 100%;
        width: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 20px;
        background-color: #ffffc9;
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    p {
        margin: 0;
    }

    .navbar-brand {
        color: lightgreen !important;
        font-family: 'Garamond' !important;
        font-weight: bold;
        font-size: 1.5em;
    }

    a.navbar-brand {
        font-family: 'Garamond' !important
    }

    .navbar-brand:visited {
        color: orange !important
    }

    .navbar-default-color {
        color: gold !important
    }

    .navbar-inverse {
        color: #FFFFFF !important
    }

    .navbar-nav li {
        color: lightgreen !important
    }

    .nav a {
        color: lightgreen !important
    }
</style>
<br /><br /><br />

@*//***********************************************
    //************** Map Marker Div *****************
    //***********************************************@

<div id="map"></div>
<div>
    Filters and Buttons and Options Oh My
    <button onclick="initMap()">
        Re-center Me!
    </button>
    <div class="form-group">
        <label for="initradius">Enter Radius:</label>
        <input type="number" class="form-control" id="initradius">
    </div>
</div>

@*<!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-6">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view gradient-card-header blue-gradient">
                    <h5 class="mb-0">Regular map</h5>
                </div>
                <!--/Card image-->
                <!--Card content-->
                <div class="card-body text-center">

                    <!--Google map-->
                    <div id="map" class="z-depth-1" style="height: 420px"></div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
    </div>*@

@*//***********************************************
    //************** Initializations ****************
    //***********************************************@

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>


    //***********************************************
    //************* Get Geolocation *****************
    //***********************************************

    var map;
    var latitudeGlobal;
    var longitudeGlobal;
    var watchId;
    var circle;
    var ogmarker;
    var initCenter;
    var newLatLng;
    var initRadius;

    function onGetLocationSuccess(position) {

        if (latitudeGlobal === position.coords.latitude && longitudeGlobal === position.coords.longitude)
            return;

        latitudeGlobal = position.coords.latitude;
        longitudeGlobal = position.coords.longitude;

        if (!map) {
            initRadius = 30;
            initMap();
        }

        updateCenter(latitudeGlobal, longitudeGlobal);
        getMarkersForMap();
    }

    function onGetLocationError() {

        alert("Unable to retrieve your location");
    }

    //***********************************************
    //************* Get User's Loc  *****************
    //***********************************************

    function getLocation(position) {

        if (!navigator.geolocation) {
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }
        var optn = {
            enableHighAccuracy: true,
            timeout: Infinity,
            maximumAge: 0

        }
        navigator.geolocation.watchPosition(onGetLocationSuccess, onGetLocationError, optn);
    }


    function getMarkersForMap() {
        //******************************************************
        //************* Ajax Get Marker Radius *****************
        //******************************************************
        var data = {
            lat: latitudeGlobal,
            lng: longitudeGlobal,
            radius: initRadius
        };

        $.ajax({
            url: "/Map/GetRadiusMarkers",
            data: data,
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            cache: false,

            success: function (data) {
                var infowindow = new google.maps.InfoWindow();
                jQuery.each(data,
                    function (index) {
                        //var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

                        //******************************************************
                        //************* Set vars I want back  ******************
                        //******************************************************

                        var city = data[index].CITY;
                        var state = data[index].STATE;
                        var zip = data[index].ZIP;
                        var winery = data[index].OWNER_NAME;
                        var address = data[index].STREET;
                        var latitude = data[index].Lat;
                        var longitude = data[index].Lng;

                        var contentString = '<p><b>' + winery + '</b><br>' +
                            address + '<br>' +
                            city + ', ' + state + '  ' + zip + '<br>' +
                            '<a href="member_detail.cfm?ID=#Client_ID#">View Details</a></p>';

                        var latLng = new google.maps.LatLng(latitude, longitude);
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            icon: "/Content/Picture2.png"
                        });
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.setContent(contentString);
                            infowindow.open(map, marker);
                        });
                    });

            }
        });

        //*** End Of Ajax ***//
    }

    getLocation();

    $("#initradius").blur(function () {
        
        initRadius = $('#initradius').val();
        alert('blur event triggered:' + initRadius);
        initMap();
    });

    function drawCircle() {

        //***********************************************
        //************* Make Map Circle *****************
        //***********************************************

        // LatLng of center point of circle.
        var center = newLatLng;
        var rad = initRadius;
        alert('rad is: ' + rad);
        // Object of google maps polygon for redrawing the circle.
        circle = null;
        //circle.setMap(null);

        // Convert to meters if in miles.
        rad *= 1600;
        circle = new google.maps.Circle({
            center: center,
            radius: rad,
            strokeColor: "#800080",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#800080",
            fillOpacity: 0.35,
            map: map
        });
    }


    //***********************************************
    //************* Initialize Map  *****************
    //***********************************************


    function initMap() {
        var initCenter = { lat: latitudeGlobal, lng: longitudeGlobal };
        map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 9,
                center: new google.maps.LatLng(latitudeGlobal, longitudeGlobal),
                mapTypeId: 'terrain',
                disableDefaultUI: true
            });
        var im = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
        ogmarker = new google.maps.Marker({
            position: initCenter,
            icon: im,
            map: map
        });
        alert('I\'m in initMap' + initRadius);
        drawCircle(initRadius);

        ////Resize Function

        google.maps.event.addDomListener(window, "resize", function () {
            var center = map.getCenter();
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);
        });
    }

    function updateCenter() {
        var newLatLng = { lat: latitudeGlobal, lng: longitudeGlobal };
        // Update stuff, instead of reinitializing
        ogmarker.setPosition(newLatLng);
        map.setCenter(newLatLng);
        circle.setCenter(newLatLng);

        options = {
            enableHighAccuracy: true,
            timeout: Infinity,
            maximumAge: 0
        };
    }

    function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
    }

    //var id = navigator.geolocation.watchPosition(updateCenter, error, options);

//        img.src = "http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDqqYpXNkyOXi_XBkMTyUkFexUh0I3U0UI&center=" + static map api key

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV9jnDSFNYrVPOdqVukVUU3WpALVBTTx8">
</script>

@*************************************************************************************************@

