@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">*@

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

@*<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">


<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>*@


<style>
    /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
    #map {
        height: 420px;
        width: 100%;
        padding-top: 10px;
        border: 10px solid indigo;
        border-radius: 4px;
    }

    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 20px;
        background-color: #ffffc9;
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    p {
        margin: 0;
    }

    .navbar-brand {
        color: lightgreen !important;
        font-family: 'Garamond' !important;
        font-weight: bold;
        font-size: 1.5em;
    }

    a.navbar-brand {
        font-family: 'Garamond' !important;
                     font-size:18px;
    }

    .navbar-brand:visited {
        color: orange !important
    }

    .navbar-default-color {
        color: gold !important
    }

    .navbar-dark {
        color: #FFFFFF !important
    }

    .navbar-nav li {
        color: lightgreen !important
    }

    .nav a {
        color: lightgreen !important
    }

    #map img {
        max-width: none !important;
    }
    .gm-style-iw {
        width: 350px !important;
        top: 15px !important;
        left: 0px !important;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
        border: 1px solid rgba(72, 181, 233, 0.6);
        border-radius: 2px 2px 10px 10px;
    }
    #iw-container {
        margin-bottom: 10px;
    }
    #iw-container .iw-title {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 22px;
        font-weight: 400;
        padding: 10px;
        background-color: #48b5e9;
        color: white;
        margin: 0;
        border-radius: 2px 2px 0 0;
        width: 350px;
    }
    #iw-container .iw-content {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        margin-right: 1px;
        padding: 15px 5px 20px 15px;
        max-height: 140px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .iw-content img {
        float: right;
        margin: 0 5px 5px 10px;	
    }
    .iw-subTitle {
        font-size: 16px;
        font-weight: 700;
        padding: 5px 0;
    }
    .iw-bottom-gradient {
        position: absolute;
        width: 326px;
        height: 25px;
        bottom: 10px;
        right: 18px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
</style>
<br /><br /><br />

@*//***********************************************
    //************** Map Marker Div *****************
    //***********************************************@

<div id="map" class="card"></div>
<div>
    <div class="form-group">
        <label for="firstName">Enter Your First Name:</label>
        <input type="number" class="form-control" id="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Enter Your Last Name:</label>
        <input type="number" class="form-control" id="lastName">
    </div>
    <div class="form-group">
        <label for="libationsChoice">Select type of relaxation:</label>
        <input type="number" class="form-control" id="libationsChoice">
    </div>
    <div class="form-group">
        <label for="libationsChoice">How often do you partake?</label>
        <input type="number" class="form-control" id="libationsChoice">
    </div>
    <div class="form-group">
        <label for="initradius">Enter Radius:</label>
        <input type="number" class="form-control" id="initradius">
    </div>
    <div class="form-group">
        <label for="initradius">Enter Radius:</label>
        <input type="number" class="form-control" id="initradius">
    </div>
    <div class="form-group">
        <button onclick="initMap()">
            Re-center Me!
        </button>
    </div>
</div>

@*<!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-6">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view gradient-card-header blue-gradient">
                    <h5 class="mb-0">Regular map</h5>
                </div>
                <!--/Card image-->
                <!--Card content-->
                <div class="card-body text-center">

                    <!--Google map-->
                    <div id="map" class="z-depth-1" style="height: 420px"></div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
    </div>*@

@*//***********************************************
    //************** Initializations ****************
    //***********************************************@

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>


    //***********************************************
    //************* Get Geolocation *****************
    //***********************************************

    var map;
    var latitudeGlobal;
    var longitudeGlobal;
    var watchId;
    var circle;
    var ogmarker;
    var initCenter;
    var newLatLng;
    var initRadius;
    var infoWindow;
    

    function onGetLocationSuccess(position) {

        if (latitudeGlobal === position.coords.latitude && longitudeGlobal === position.coords.longitude)
            return;

        latitudeGlobal = position.coords.latitude;
        longitudeGlobal = position.coords.longitude;

        if (!map) {
            initRadius = 30;
            initMap();
        }

        updateCenter(latitudeGlobal, longitudeGlobal);
        getMarkersForMap();
    }

    function onGetLocationError() {

        alert("Unable to retrieve your location");
    }

    //***********************************************
    //************* Get User's Loc  *****************
    //***********************************************

    function getLocation(position) {

        if (!navigator.geolocation) {
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }
        var optn = {
            enableHighAccuracy: true,
            timeout: Infinity,
            maximumAge: 0

        };
        navigator.geolocation.watchPosition(onGetLocationSuccess, onGetLocationError, optn);
    }


    function getMarkersForMap() {
        //******************************************************
        //************* Ajax Get Marker Radius *****************
        //******************************************************
        var data = {
            lat: latitudeGlobal,
            lng: longitudeGlobal,
            radius: initRadius
        };

        infoWindow = new google.maps.InfoWindow({});

        $.ajax({
            url: "/Map/GetRadiusMarkers",
            data: data,
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            cache: false,

            success: function (data) {
                var infowindow = new google.maps.InfoWindow();
                jQuery.each(data,
                    function (index) {
                        //var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

                        //******************************************************
                        //************* Set vars I want back  ******************
                        //******************************************************

                        var city = data[index].CITY;
                        var state = data[index].STATE;
                        var zip = data[index].ZIP;
                        var winery = data[index].OWNER_NAME;
                        var address = data[index].STREET;
                        var latitude = data[index].Lat;
                        var longitude = data[index].Lng;

                        var contentString =
                            '<div id="iw-container">' +
                                '<div class="iw-title">' +
                                      winery +
                                '</div>' +
                                '<p>' +
                                   '<br>' +
                                   '<div class="iw-content">' +
                                       address +
                                       '<br>' +
                                       city + ', ' + state + '  ' + zip +
                                       '<br>' +
                                       '<a href="member_detail.cfm?ID=#Client_ID#">View Details</a></p>' +
                                   '</div>' +
                                 '</p>' +
                                 '<div class="iw-bottom-gradient">' +
                                 '</div>' +
                            '</div>';


                        //// InfoWindow content
                        //var content = '<div id="iw-container">' +
                        //    '<div class="iw-title">Porcelain Factory of Vista Alegre</div>' +
                        //    '<div class="iw-content">' +
                        //    '<div class="iw-subTitle">History</div>' +
                        //    '<img src="http://maps.marnoto.com/en/5wayscustomizeinfowindow/images/vistalegre.jpg" alt="Porcelain Factory of Vista Alegre" height="115" width="83">' +
                        //    '<p>Founded in 1824, the Porcelain Factory of Vista Alegre was the first industrial unit dedicated to porcelain production in Portugal. For the foundation and success of this risky industrial development was crucial the spirit of persistence of its founder, José Ferreira Pinto Basto. Leading figure in Portuguese society of the nineteenth century farm owner, daring dealer, wisely incorporated the liberal ideas of the century, having become "the first example of free enterprise" in Portugal.</p>' +
                        //    '<div class="iw-subTitle">Contacts</div>' +
                        //    '<p>VISTA ALEGRE ATLANTIS, SA<br>3830-292 Ílhavo - Portugal<br>' +
                        //    '<br>Phone. +351 234 320 600<br>e-mail: geral@vaa.pt<br>www: www.myvistaalegre.com</p>' +
                        //    '</div>' +
                        //    '<div class="iw-bottom-gradient"></div>' +
                        //    '</div>';

                        var latLng = new google.maps.LatLng(latitude, longitude);
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            icon: "/Content/Picture2.png",
                            title: winery
                        });


                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.close();
                            infowindow.setContent(contentString);
                            infowindow.open(map, marker);
                            infowindow.maxWidth = 350;
                        });

                        // *
                        // START INFOWINDOW CUSTOMIZE.
                        // The google.maps.event.addListener() event expects
                        // the creation of the infowindow HTML structure 'domready'
                        // and before the opening of the infowindow, defined styles are applied.
                        // *
                        google.maps.event.addListener(infowindow, 'domready', function () {

                            // Reference to the DIV that wraps the bottom of infowindow
                            var iwOuter = $('.gm-style-iw');

                            /* Since this div is in a position prior to .gm-div style-iw.
                             * We use jQuery and create a iwBackground variable,
                             * and took advantage of the existing reference .gm-style-iw for the previous div with .prev().
                            */
                            var iwBackground = iwOuter.prev();

                            // Removes background shadow DIV
                            iwBackground.children(':nth-child(2)').css({ 'display': 'none' });

                            // Removes white background DIV
                            iwBackground.children(':nth-child(4)').css({ 'display': 'none' });

                            // Moves the infowindow 115px to the right.
                            //iwOuter.parent().parent().css({ left: '115px' });

                            // Moves the shadow of the arrow 76px to the left margin.
                            iwBackground.children(':nth-child(1)').attr('style', function (i, s) { return s + 'left: 76px !important;' });

                            // Moves the arrow 76px to the left margin.
                            iwBackground.children(':nth-child(3)').attr('style', function (i, s) { return s + 'left: 76px !important;' });

                            // Changes the desired tail shadow color.
                            iwBackground.children(':nth-child(3)').find('div').children().css({ 'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1px 6px', 'z-index': '1' });

                            // Reference to the div that groups the close button elements.
                            var iwCloseBtn = iwOuter.next();

                            // Apply the desired effect to the close button
                            iwCloseBtn.css({ opacity: '1', right: '38px', top: '3px', border: '7px solid #48b5e9', 'border-radius': '13px', 'box-shadow': '0 0 5px #3990B9' });

                            // If the content of infowindow not exceed the set maximum height, then the gradient is removed.
                            if ($('.iw-content').height() < 140) {
                                $('.iw-bottom-gradient').css({ display: 'none' });
                            }

                            // The API automatically applies 0.7 opacity to the button after the mouseout event. This function reverses this event to the desired value.
                            iwCloseBtn.mouseout(function () {
                                $(this).css({ opacity: '1' });
                            });

                            // Event that closes the Info Window with a click on the map
                            google.maps.event.addListener(map, 'click', function () {
                                infowindow.close();
                            });
                        });
                    });

            }
        });

        //*** End Of Ajax ***//
    }

    getLocation();

    //May come in handy later...
    //google.maps.event.addListener(iMap.map, 'zoom_changed', function () {
    //    for (var i = 0; i < iMap.circle.length; i++) {
    //        var p = Math.pow(2, (21 - iMap.map.getZoom()));
    //        iMap.circle[i].setRadius(p * 1128.497220 * 0.0027);
    //    }

    //    menu.hide();
    //});

    $("#initradius").blur(function() {

        initRadius = $('#initradius').val();
        initMap();
        specialZoom2();

    });

    $('#initradius').keypress(function (e) {
        var key = e.which;
        if(key == 13)  // the enter key code
        {
            initRadius = $('#initradius').val();
            initMap();
            specialZoom2();
        }
    });   

    function specialZoom2() {
        map.setZoom(Math.round(14 - Math.log(initRadius) / Math.LN2)-1);
    }

    function drawCircle() {

        //***********************************************
        //************* Make Map Circle *****************
        //***********************************************

        // LatLng of center point of circle.
        var center = newLatLng;
        var rad = initRadius;
        // Object of google maps polygon for redrawing the circle.
        circle = null;
        //circle.setMap(null);

        // Convert to meters if in miles.
        rad *= 1600;
        circle = new google.maps.Circle({
            center: center,
            radius: rad,
            strokeColor: "#800080",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#800080",
            fillOpacity: 0.35,
            map: map
        });
    }


    //***********************************************
    //************* Initialize Map  *****************
    //***********************************************


    function initMap() {
        var initCenter = { lat: latitudeGlobal, lng: longitudeGlobal };
        map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 9,
                center: new google.maps.LatLng(latitudeGlobal, longitudeGlobal),
                mapTypeId: 'terrain',
                disableDefaultUI: true
            });
        var im = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
        ogmarker = new google.maps.Marker({
            position: initCenter,
            icon: im,
            map: map
        });

        drawCircle(initRadius);

        ////Resize Function

        google.maps.event.addDomListener(window, "resize", function () {
            var center = map.getCenter();
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);
            
        });

    }



    function updateCenter() {
        var newLatLng = { lat: latitudeGlobal, lng: longitudeGlobal };
        // Update stuff, instead of reinitializing
        ogmarker.setPosition(newLatLng);
        map.setCenter(newLatLng);
        circle.setCenter(newLatLng);

        options = {
            enableHighAccuracy: true,
            timeout: Infinity,
            maximumAge: 0
        };
    }

    function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
    }

    //var id = navigator.geolocation.watchPosition(updateCenter, error, options);

//        img.src = "http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDqqYpXNkyOXi_XBkMTyUkFexUh0I3U0UI&center=" + static map api key






    /*
 * 5 ways to customize the Google Maps infowindow
 * 2015 - en.marnoto.com
 * http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html
*/

    //function initialize() {
        //var mapOptions = {
        //    center: center,
        //    zoom: 16,
        //    mapTypeId: google.maps.MapTypeId.ROADMAP
        //};

        //var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);



        //// A new Info Window is created and set content
        //var infowindow = new google.maps.InfoWindow({
        //    content: content,

        //    // Assign a maximum value for the width of the infowindow allows
        //    // greater control over the various content elements
        //    maxWidth: 350
        //});

        //// marker options
        //var marker = new google.maps.Marker({
        //    position: factory,
        //    map: map,
        //    title: "Porcelain Factory of Vista Alegre"
        //});

        // This event expects a click on a marker
        // When this event is fired the Info Window is opened.
        //google.maps.event.addListener(marker, 'click', function () {
        //    infowindow.open(map, marker);
        //});

        //// Event that closes the Info Window with a click on the map
        //google.maps.event.addListener(map, 'click', function () {
        //    infowindow.close();
        //});
    //}
    //google.maps.event.addDomListener(window, 'load', initialize);

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV9jnDSFNYrVPOdqVukVUU3WpALVBTTx8">
</script>

@********************************************************************************************@

