@*<img src="~/Content/grapesicon.jpg" alt="grapesicon">;*@
<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 400px;
        width: 400px;
    }

    #out {
        height: 400px;
        width: 400px;
    }

    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 20px;
        background-color: #ffffc9;
    }

    p {
        margin: 0;
    }
</style>
<br /><br /><br />

@*//***********************************************
    //************** Map Marker Div *****************
    //***********************************************@

<div id="map"></div>

@*//***********************************************
    //************** Initializations ****************
    //***********************************************@

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>



    //***********************************************
    //************* Get Geolocation *****************
    //***********************************************

    var map;
    var latitudeGlobal;
    var longitudeGlobal;

    function onGetLocationSuccess(position) {
        latitudeGlobal = position.coords.latitude;
        longitudeGlobal = position.coords.longitude;
        initMap();

    }

    function onGetLocationError() {

        alert("Unable to retrieve your location");
    }

    //***********************************************
    //************* Get User's Loc  *****************
    //***********************************************

    function getLocation(position) {

        if (!navigator.geolocation) {
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }

        navigator.geolocation.getCurrentPosition(onGetLocationSuccess, onGetLocationError);


    }

    getLocation();

    //***********************************************
    //************* Initialize Map  *****************
    //***********************************************

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'),
        {
                zoom: 8,
                center: new google.maps.LatLng(latitudeGlobal, longitudeGlobal),
                mapTypeId: 'terrain'

            });

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
            parking: {
                icon: iconBase + 'parking_lot_maps.png'
            }
        }

        //******************************************************
        //************* Ajax Get Marker Radius *****************
        //******************************************************
        var data = {
            lat: latitudeGlobal,
            lng: longitudeGlobal,
        };

        $.ajax({
            url: "/Map/GetRadiusMarkers",
            data: data,
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8', 
            cache: false,

            success: function (data) {
                var infowindow = new google.maps.InfoWindow();
                jQuery.each(data,
                    function (index) {
                       //var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

                        //******************************************************
                        //************* Set vars I want back  ******************
                        //******************************************************

                        
                        var city = data[index].CITY;
                        var state = data[index].STATE;
                        var zip = data[index].ZIP;
                        var winery = data[index].OWNER_NAME;
                        var address = data[index].STREET;
                        var latitude = data[index].Lat;
                        var longitude = data[index].Lng;

                var contentString = '<p><b>' + winery + '</b><br>'+
                      address + '<br>'+
                    city +', ' + state + '  ' + zip + '<br>'+
                    '<a href="member_detail.cfm?ID=#Client_ID#">View Details</a>';

                    var latLng = new google.maps.LatLng(latitude, longitude);
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        icon: "/Content/Picture2.png"
                    });
                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.setContent(contentString);
                        infowindow.open(map,marker);
                    });
                });
                var im = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
                var centralMarker = new google.maps.Marker({
                    position: { lat: latitudeGlobal, lng: longitudeGlobal },
                    map: map,
                    icon: im  
                });
            }
        });

        //*** End Of Ajax ***//

        //***********************************************
        //************* Make Map Circle *****************
        //***********************************************

        // Radius of circle in miles.
        var rad = 50;               

        // LatLng of center point of circle.
        var center = { lat: latitudeGlobal, lng: longitudeGlobal }; 

        // Object of google maps polygon for redrawing the circle.
        var draw_circle = null;                          

        function DrawCircle(rad) {

            // Convert to meters if in miles.
            rad *= 1600; 

                            if (draw_circle != null) {
                                draw_circle.setMap(null);
                            }

            draw_circle = new google.maps.Circle({
                                center: center,
                radius: rad,
                strokeColor: "#800080",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#800080",
                fillOpacity: 0.35,
                map: map
            });
        }
        DrawCircle(50);

        //setInterval(function() {
        //    navigator.geolocation.getCurrentPosition(updateCenter);
        //}, 5000);
    }

    function updateCenter(position) {
        // The position getCurrentPosition passes, IS NOT a google.maps.LatLng object. First, we need to convert it:
        var lati = position.coords.latitude;
        var long = position.coords.longitude;
        var mapCenter = new google.maps.LatLng({lat: lati, lng: long});

        // Update stuff, instead of reinitializing
        var im = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
        var marker = new google.maps.Marker({
            position: {lat: lati, lng: long},
            icon: im  
        });
        marker.setPosition({lat: lati, lng: long});
        map.setCenter({lat: lati, lng: long});
    }

    options = {
        enableHighAccuracy: false,
        timeout: 5000,
        maximumAge: 0
    };

    function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
    }

    var id = navigator.geolocation.watchPosition(updateCenter, error, options);

//        img.src = "http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDqqYpXNkyOXi_XBkMTyUkFexUh0I3U0UI&center=" + static map api key
    
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV9jnDSFNYrVPOdqVukVUU3WpALVBTTx8">
</script>

<div id="out"></div>

@*************************************************************************************************@

