
<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 400px;
        width: 400px;
    }

    #out {
        height: 400px;
        width: 400px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 20px;
        background-color: #ffffc9;
    }

    p {
        margin: 0;
    }
</style>
<br /><br /><br />

<div id="map"></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 8,
                center: new google.maps.LatLng(38.328732, -85.764771),
                mapTypeId: 'terrain'

            });

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
            parking: {
                icon: iconBase + 'parking_lot_maps.png'
            }
        }

        $.ajax({
            url: "/Map/GetRadiusMarkers",
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8', //define a contentType of your request
            cache: false,


            success: function (data) {
                jQuery.each(data,
                    function (index) {
                        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                        //var image = 'grapesicon.jpg';
                        var infowindow = new google.maps.InfoWindow({
                            content: data[index].OWNER_NAME
                        });
                        var latitude = data[index].Lat;
                        var longitude = data[index].Lng;
                        var latLng = new google.maps.LatLng(latitude, longitude);
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            icon: image
                        });
                    });
            }
        });

        //*** End Of Ajax ***//

        var rad = 50; // Radius of circle in miles.

        var center = { lat: 38.328732, lng: -85.764771 }; // LatLng of center point of circle

        var draw_circle = null;  // object of google maps polygon for redrawing the circle
        function DrawCircle(rad) {

            rad *= 1600; // convert to meters if in miles
            if (draw_circle != null) {
                draw_circle.setMap(null);
            }
            draw_circle = new google.maps.Circle({
                center: center,
                radius: rad,
                strokeColor: "#800080",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#800080",
                fillOpacity: 0.35,
                map: map
            });
        }

        DrawCircle(50);
    }
    function geoFindMe() {
        //var output = document.getElementById("out");
        var output = $('#out');

        if (!navigator.geolocation) {
            output.html("<p>Geolocation is not supported by your browser</p>");
            return;
        }

        function success(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            //alert('Your latitude is: ' + latitude);
            //alert('Your longitude is: ' + longitude);

            output.html('<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>');

            var img = new Image();
            img.src = "http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDqqYpXNkyOXi_XBkMTyUkFexUh0I3U0UI&center=" + latitude + "," + longitude + "&size=400x400&markers=color:blue%7Clabel:S%7C" + latitude + "," + longitude + "&zoom=15";

            output.append(img);
        }

        function error() {
            output.innerHTML = "Unable to retrieve your location";
        }

        output.innerHTML = "<p>Locating…</p>";

        navigator.geolocation.getCurrentPosition(success, error);
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV9jnDSFNYrVPOdqVukVUU3WpALVBTTx8&callback=initMap">
</script>

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation -->

<p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div>
        if (!navigator.geolocation){
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }
<script>
    function geofindme2(position) {

        if (!navigator.geolocation) {
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }

        function success2(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            alert('Your latitude is: ' + latitude);
            alert('Your longitude is: ' + longitude);

            output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';

            var img = new Image();
            img.src = "http://maps.googleapis.com/maps/api/staticmap?center=" +
                latitude +
                "," +
                longitude +
                "&size=300x300&markers=color:blue&zoom=14";

            output.append(img);
        }
    }

</script>