@*<img src="~/Content/grapesicon.jpg" alt="grapesicon">;*@
<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 400px;
        width: 400px;
    }

    #out {
        height: 400px;
        width: 400px;
    }

    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 20px;
        background-color: #ffffc9;
    }

    p {
        margin: 0;
    }
</style>
<br /><br /><br />

@*//***********************************************
    //************** Map Marker Div *****************
    //***********************************************@

<div id="map"></div>

@*//***********************************************
    //************** Initializations ****************
    //***********************************************@

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    //***********************************************
    //************* Get Geolocation *****************
    //***********************************************

    var map;
    var latitudeGlobal;
    var longitudeGlobal;
    var watchId;
    var circle;
    var ogmarker;
    var initCenter;
    var newLatLng;

 

    function onGetLocationSuccess(position) {

        if (latitudeGlobal === position.coords.latitude && longitudeGlobal === position.coords.longitude)
            return;

        latitudeGlobal = position.coords.latitude;
        longitudeGlobal = position.coords.longitude;

        if (!map) {
            initMap();
        }

        updateCenter(latitudeGlobal, longitudeGlobal);
        getMarkersForMap();
    }

    function onGetLocationError() {

        alert("Unable to retrieve your location");
    }

    //***********************************************
    //************* Get User's Loc  *****************
    //***********************************************

    function getLocation(position) {

        if (!navigator.geolocation) {
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }
        var optn = {
            enableHighAccuracy: true,
            timeout: Infinity,
            maximumAge: 0

        }
        navigator.geolocation.watchPosition(onGetLocationSuccess, onGetLocationError, optn);
    }


    function getMarkersForMap() {
        //******************************************************
        //************* Ajax Get Marker Radius *****************
        //******************************************************
        var data = {
            lat: latitudeGlobal,
            lng: longitudeGlobal,
        };

        $.ajax({
            url: "/Map/GetRadiusMarkers",
            data: data,
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            cache: false,

            success: function (data) {
                var infowindow = new google.maps.InfoWindow();
                jQuery.each(data,
                    function (index) {
                        //var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

                        //******************************************************
                        //************* Set vars I want back  ******************
                        //******************************************************

                        var city = data[index].CITY;
                        var state = data[index].STATE;
                        var zip = data[index].ZIP;
                        var winery = data[index].OWNER_NAME;
                        var address = data[index].STREET;
                        var latitude = data[index].Lat;
                        var longitude = data[index].Lng;

                        var contentString = '<p><b>' + winery + '</b><br>' +
                            address + '<br>' +
                            city + ', ' + state + '  ' + zip + '<br>' +
                            '<a href="member_detail.cfm?ID=#Client_ID#">View Details</a></p>';

                        var latLng = new google.maps.LatLng(latitude, longitude);
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            icon: "/Content/Picture2.png"
                        });
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.setContent(contentString);
                            infowindow.open(map, marker);
                        });
                    });

                //new google.maps.Marker({
                //    position: { lat: latitudeGlobal, lng: longitudeGlobal },
                //    map: map,
                //    icon: im
                //});
            }
        });

        //*** End Of Ajax ***//
    }

    getLocation();

    function drawCircle() {

        //***********************************************
        //************* Make Map Circle *****************
        //***********************************************

        // LatLng of center point of circle.
        var center = newLatLng;
        var rad = 30;
        // Object of google maps polygon for redrawing the circle.
        circle = null;
        //circle.setMap(null);

        // Convert to meters if in miles.
        rad *= 1600;
        circle = new google.maps.Circle({
            center: center,
            radius: rad,
            strokeColor: "#800080",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#800080",
            fillOpacity: 0.35,
            map: map
        });
    }


    //***********************************************
    //************* Initialize Map  *****************
    //***********************************************

    function initMap() {
        var initCenter = { lat: latitudeGlobal, lng: longitudeGlobal };
        map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 9,
                center: new google.maps.LatLng(latitudeGlobal, longitudeGlobal),
                mapTypeId: 'terrain'
            });
        var im = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
        ogmarker = new google.maps.Marker({
            position: initCenter,
            icon: im,
            map: map
        });
        drawCircle();
    }

    function updateCenter() {
        var newLatLng = { lat: latitudeGlobal, lng: longitudeGlobal };
        // Update stuff, instead of reinitializing
        var im = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
        //ogmarker.position = newLatLng;
        ogmarker.setPosition(newLatLng);
        map.setCenter(newLatLng);
        circle.setCenter(newLatLng);

        options = {
            enableHighAccuracy: true,
            timeout: Infinity,
            maximumAge: 0
        };

    }

    function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
    }

    //var id = navigator.geolocation.watchPosition(updateCenter, error, options);

//        img.src = "http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDqqYpXNkyOXi_XBkMTyUkFexUh0I3U0UI&center=" + static map api key

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV9jnDSFNYrVPOdqVukVUU3WpALVBTTx8">
</script>

<div id="out"></div>

@*************************************************************************************************@

